
body{
    font-family: "Flexo-Demi",arial,sans-serif;
    background: #fff url(../img/background.png);
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img {
    width: 100%;
    border-radius: 10px;
    padding: 10%;
    background-color: #f2f2f2;
}

article {
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}

.navbar {
    background-color: #313131!important;
    color: #fff;
}

.navbar a{
    color: #fff!important;
}

#boton{
    float: left;
    background-image: url(../img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 5px;
    background-color: orange;
    width: 80px;
    border: none;
}
button:focus {
    outline: none!important;
}

.box{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #00000040;
    margin: 20px;
}

.col-lg-3 {
    max-width: 21%!important;
}

.buscador{
    display: flex;
}
.name{
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 145%;
    margin-bottom: 2%;
}
.name::first-letter {
    text-transform: uppercase;
}
.types{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 2%;;
}
.number{
    font-family: 'Roboto Condensed', sans-serif;
    color: #919191;
    font-size: 80%;
    margin-bottom: 2%;
    font-weight: 700;
}

span::first-letter{
    text-transform: uppercase;
}

.poison {
    background-color: #b97fc9;
    color: #fff;
}

span{
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.grass {
    background-color: #9bcc50; 
    color: #212121;
}

.fire {
    background-color: #fd7d24;
    color: #fff;
}

.water {
    background-color: #4592c4;
    color: #fff;
}

.fairy {
    background-color: #fdb9e9;
    color: #212121;
}

.fighting {
    background-color: #d56723;
    color: #fff;
}

.psychic {
    background-color: #f366b9;
    color: #fff;
}

.rock {
    background-color: #a38c21;
    color: #fff;
}

.ghost {
    background-color: #7b62a3;
    color: #fff;
}

.ice {
    background-color: #51c4e7;
    color: #212121;
}

.steel {
    background-color: #9eb7b8;
    color: #212121;
}

.psychic {
    background-color: #f366b9;
    color: #fff;
}

.dragon {
    background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
}

.flying {
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.ground {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}

.electric {
    background-color: #eed535;
    color: #212121;
}

.bug {
    background-color: #729f3f;
    color: #fff;
}

.normal {
    background-color: #a4acaf;
    color: #212121;
}

@keyframes saltar {
    0% {
      transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
      font-size: translateY(0);
    }
  }
#resultado:hover {
    animation: saltar 0.1s ease-out;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-light .navbar-toggler {
    color: rgba(255,255,255)!important;
    border-color: rgb(255, 255, 255)!important;
}

.navbar-light .navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em;
    background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e)!important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.row {
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .buscador {
        margin-top: 20px;
    }
    .collapse:not(.show) {
        display: none;
        height: 80px;
    }
    .col-lg-3 {
        max-width: 100%!important;
    }
}